{% extends "base.njk" %}

{% block mainContent %}

  <div class="maxWidth">
    {{ content | safe }}
    
    <div id='flowerOverviewWrapper'>
      {% for flower in collections.flowers | reverse %}
        <a
          href='{{ flower.url }}'
          title='{{ flower.data.title }}'
          alt='{{ flower.data.title }}'>
          <img src="/assets/images/{{ flower.data.imageSrc }}" />
          <span class='title'>{{ flower.data.title }} <em>{{ flower.data.bloomTime }}</em></span>
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock mainContent %}